.background-blue {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #0099FF;
}

.contents {
    position: relative;
    width: 300px;
    height: 100%;
    background: #0099FF;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#habits_edit {
    text-align: right;
    display: block;
    margin-right: 100px;
}

.target_name {
    text-align: center;
    position: absolute;
    top: 30px;
    left: 400px;
}

h2 {
    text-align: right;
    margin-top: 200px;
    margin-right: 100px;
}

#habits_change {
    text-align: right;
    margin-top: 30px;
    margin-right: 100px;
    display: block;
}