{{% extends "base.html" %}}
{{% block content %}}
<div class="full-page">
    <h1 class="change_habits">ログイン</h1>
    <form action="" method="POST">
        <table border="0" align="center">
            <tr>
                <td align="right"><b>メールアドレス：</b></td>
                <td><input type="email" name="email" size="50" maxlength="50"></td>
            </tr>
            <tr>
                <td align="right"><b>パスワード：</b></td>
                <td><input type="password" name="password" size="50" maxlength="20"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="ログイン"></td>
            </tr>
        </table>
    </form>
</div>
{{% endblock %}}