<!-- カレンダー（青山） -->
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=c3VuYWJhY28xMjA1QGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<!-- カレンダー終わり -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="background-blue">
    </div>
    <div class="contents">
        <h1>ユーザーネーム</h1>
    </div>
    </div>
    <div class="link"> 
        <a href="" id="habits_edit">習慣を編集</a>
        <a href="" id="habits_change">新しい習慣に変更</a>
    </div>
    <div class="target_name">
        <h1>ー目標名ー目標名ー目標名ー目標名ー</h1>
    </div>
    <div>
        <h2>達成した習慣</h2>
    </div>
</body>
</html>
