<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="background-blue">
    </div>
    <div class="contents">
        <h1>ユーザーネーム</h1>
    </div>
    </div>
    <div class="link"> 
        <a href="" id="habits_edit">習慣を編集</a>
        <a href="" id="habits_change">新しい習慣に変更</a>
    </div>
    <div class="target_name">
        <h1>ー目標名ー目標名ー目標名ー目標名ー</h1>
    </div>
    <div>
        <h2>達成した習慣</h2>
    </div>
</body>
</html>