{{% extends "base.html" %}}
{{% block content %}}
<div class="full-page">
    <h1 class="change_habits">習慣を新しく設定する</h1>
    <form action="" method="POST">
        <table border="0" align="center">
            <tr>
                <td align="right"><b>習慣</b></td>
                <td><input type="text" name="habits" size="100" maxlength="100"></td>
            </tr>
            <tr>
                <td align="right"><b>続ける日数</b></td>
                <td><input type="text" name="days" size="30" maxlength="30"></td>
            </tr>
            <tr>
                <td align="right"><b>通知時間</b></td>
                <td><input type="text" name="notification_time" size="30" maxlength="30"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="新しく設定"></td>
            </tr>
        </table>
    </form>
</div>
{{% endblock %}}